
<div class="container">
  <p> There should be a logo here </p>
<p> MC, or Master of Ceremonies is an app dedicated to local comedy scenes. Its aim is to allow its users to update events for local comedy acts all in one place, whether it be headliners, someones first half hour spot, or weekly open mics </p>
</div>